$icon-font-path:"../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// add files to customize bootstrap
@import "_custom-fonts.scss";
@import "_custom-variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// your own css/scss
// your own css/scss ends
// Logo
.fontLatoStyle {
  font-family: Lato;
}
.navbar-brand {
  padding: 0 0 0 0;
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  /* justify-content: center;*/
  opacity: 0.8;
  margin-right: 40px;
}
.navbar-brand:hover {
  opacity: 1;
}
.navbar-brand>img {
  max-height: 100%;
  height: 80%;
  width: auto;
  margin: auto;
  vertical-align: middle;
  display: block;
  margin: 0px auto;
}
//.navbar-left {
//  margin-left: 20px;
//}
.navbar-inverse .navbar-nav > li {
  opacity: 0.8;
}
.navbar-inverse .navbar-nav > li:hover {
  opacity: 1;
}
.navbar-inverse .navbar-nav > li > a {
  font-family: Lato;
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
}
@media only screen and (max-width: 900px) {
  .navbar-inverse .navbar-nav > li > a[class*="title"] {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .navbar-right {
    width: 50%;
    float: right;
  }
  .navbar-left {
    width: 50%;
    float: left;
  }
  .nav > li {
    margin-bottom: 20px;
  }
  .nav > li > a {
    display: initial;
  }
}
@media only screen and (max-width: 800px) {
  .navbar-inverse .navbar-nav > li > a[class*="title"] {
    display: inherit;
  }
}
.navbar-inverse {
  margin-bottom: 0;
  border-radius: 0;
  padding-left: 65px;
  padding-right: 45px;
}
//Login and sign-up form
#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .8);
}
#login-dp .bottom {
  background-color: rgba(255, 255, 255, .8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}
@media(max-width:768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
.btn-primary {
  background-color: #5A5A5A;
  text-transform: uppercase;
  border-color: transparent;
}
.icon-submit {
  background: url(https://assetcdn.500px.org/assets/v3/nav/icons-d4a44a759181f6a120f4ab4bc470df0b.png)
}
//2nd-nav-bar
.sticky-nav {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.58);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.58);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.58);
}
.sticky-nav ul li {
  font-family: Lato;
  color: #6B6A6A;
  display: inline;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  padding: 2% 1.5% 2% 1.5%;
}
.sticky-nav-menu {
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}
.sticky-nav ul li a {
  color: #666767;
  text-decoration: none;
}
//Main
.main {
  padding-top: 60px;
  background-color: #F7F5F5;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 60px;
}
//Footer
footer {
  background-color: #ffffff;
  font-family: Lato;
  line-height: 10px;
}
.intro {
  font-weight: bold;
}
//*********index.html*******
.glyphiconSty {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 10px;
}
img {
  width: 470px;
  height: 282px;
}
iframe {
  width: 470px;
  height: 282px;
}
.sub-title {
  font-size: 30px;
  color: deepskyblue;
  margin-bottom: 20px;
}
#video {
  background-color: aliceblue;
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer {
  background-color: darkturquoise;
  color: azure;
  font-size: 1.2em;
}
//*****************css for upload1.html & upload2.html
#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-right: 250px;
}
#sidebar-wrapper1 {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 300px;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar {
  background-color: #2b2b2b;
  padding: 10px;
}
#sidebar a:hover,
a:focus {
  color: #FFF;
  text-decoration: none;
}
#sidebar.nav > li > a,
#sidebar.nav > li > a:link {
  background-color: #2b2b2b;
  color: #FFF;
}
#sidebar.nav > li > a:hover,
#sidebar.nav > li > a:focus {
  background-color: #8C8C8C;
}
#sidebar.nav-pills > li.active > a,
#sidebar.nav-pills > li.active > a:hover,
#sidebar.nav-pills > li.active > a:focus {
  color: #FFF;
  background-color: #C72A25;
}
//**************** upload edit

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
//**** edit image in uploadModal.html
.conMargin {
  margin-top: 100px;
  margin-bottom: 100px;
}
.btnMargin {
  margin-top: 50px;
  margin-bottom: 30px;
}
//
//*******login.html & signup.html
//
//for login
// .login-area {
//  background-image: url("http://efdreams.com/data_images/dreams/mountain/mountain-07.jpg");
//  background-size: cover;
//  background-repeat: no-repeat;
//}
 .login-panel {
  padding: 20% 0 20% 0;
}
#vertiAlign {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.main-login {
  text-align: center;
  background-color: white;
  padding: 3% 5% 5% 5%;
  font-family: Lato;
  margin-left: 10%;
  margin-right: 10%;
}
.main-login h1 {
  font-size: 40px;
  font-weight: 200;
  color: #E75854;
  margin-bottom: 10px;
  margin-top: 0px;
}
.login-form ul {
  list-style-type: none;
  padding-left: 0px;
}
.login-form ul li input {
  border: 5px solid #ebd3bd;
  margin-bottom: 10px;
  background: transparent;
  width: 100%;
  padding: 10px;
}
.submit-button {
  background-color: #E75854;
  border: none;
  border-radius: 0em;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  margin-top: 3%px;
}
//Sign up
.login-panel {
  z-index: -1;
}
.main-signUp {
  text-align: center;
  background-color: white;
  padding: 3% 5% 5% 5%;
  font-family: Lato;
  margin-left: 10%;
  margin-right: 10%;
}
.main-signUp h1 {
  font-size: 40px;
  font-weight: 200;
  color: #E75854;
  margin-bottom: 10px;
  margin-top: 0px;
}
.signUp-form ul {
  list-style-type: none;
  padding-left: 0px;
}
.signUp-form ul li input {
  border: 5px solid #ebd3bd;
  margin-bottom: 10px;
  background: transparent;
  width: 100%;
  padding: 10px;
}
//******uploadEdit.html
.uploadBtnSty {
  margin-bottom: 50px;
}
//***** registerForm.html*****
.spanStyle {
  color: coral;
  font-weight: 200;
}
//LIGHT BOX MODAL
.modal-content {
  border-radius: 0px;
  font-family: Lato
}
.photo-area {
  background-color: #212124;
  align-items: center;
  padding: 3% 10% 3% 10%;
}
.img-responsive {
  margin-left: auto;
  margin-right: auto;
}
.like_comment ul {
  padding-left: 0%;
}
.like_comment ul li span {
  margin-left: 3%;
}
.like_comment .glyphicon {
  margin-right: 1%;
}
.like_comment .red {
  color: red;
}
hr {
  border-top: 1px solid #CCCCCC;
}
.like_comment ul li {
  display: inline;
  text-decoration: none;
  list-style-type: none;
}
.like_comment ul li:hover {
  cursor: pointer;
  text-decoration: none;
}
.like_comment ul li a:hover {
  text-decoration: none;
}
.comment-form {
  display: block;
}
.comment-input {
  width: 100%;
  height: 50px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 0 2% 0 2%;
  margin-bottom: 2%;
}
form .comment-submit {
  background-color: transparent;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  float: right
}
.comment-submit:hover {
  background-color: #4f4f4f;
  color: white;
  border: 1px solid #CCCCCC;
}
.comment-area-2 {
  background-color: #EFEFEF;
  border-radius: 5px;
}
.comment-area-2 ul {
  padding: 2%;
}
.comment-area ul li {
  list-style-type: none;
}
.exif-area ul li {
  list-style-type: none;
}
.exif-area ul {
  padding-left: 0%;
}
//Container area
 .main-area {
  background-color: #F7F8FA;
  padding: 0 4% 0 4%;
}
