<!--For script-->
<link rel="stylesheet" href="../bower_components/justifiedGallery/dist/css/justifiedGallery.css" />
<script src="../bower_components/justifiedGallery/dist/js/jquery.justifiedGallery.js">
</script>
<script type="text/ng-template" id="myModalContent.html" src="views/lightbox.html">
</script>
<!--For script-->
<!--MAIN-->


<div>
  <div class="container-fluid">
    <div infinite-gallery>
      <a ng-click="open(photo)" repeat-done ng-repeat="photo in photos">
        <img alt="{{photo.title}}" ng-src="http://util.mw.metropolia.fi/uploads/{{photo.path}}" />
      </a>
    </div>
  </div>
</div>








