<!--For script-->
<link rel="stylesheet" href="../bower_components/justifiedGallery/dist/css/justifiedGallery.css" />
<script src="../bower_components/justifiedGallery/dist/js/jquery.justifiedGallery.js">
</script>

<div ng-controller="lightboxController">
  <div class="container-fluid" data-ng-controller="galleryController">
    <div infinite-gallery>
      <a ng-click="open()" repeat-done ng-repeat="photo in photos">
        <img alt="{{photo.title}}" ng-src="http://util.mw.metropolia.fi/uploads/{{photo.path}}" />
      </a>
    </div>
  </div>
  <script type="text/ng-template" id="myModalContent.html">
      <div class="photo-area col-lg-12 col-md-12 col-xs-12">
         <img class="img-responsive" src="http://cdn.pcwallart.com/images/full-hd-nature-wallpapers-ocean-wallpaper-1.jpg"/>
        </div>
    <div class="container-fluid modal-body">
     
        <div class="comment-area col-lg-8 col-md-8 col-xs-12">
            <h1>Comment area</h1>
        </div>
        
        <div class="exif-area col-lg-4 col-md-4 col-xs-12">
            <h1>Exif area</h1>
        </div>
     </div>
  </script>
</div>
<!--For script-->

<!--MAIN-->





