<!--
<div class="modal fade pull-left" id="Upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label=""><span>&times;</span></button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <form action="Upload" method="post" enctype="multipart/form-data" id="uploadcheck">
                    <br> Select a file
                    <br>
                    <input type="file" name="file" accept="image/gif, image/jpeg, image/png, image/jpg" id="filecheck" />
                    <br>
                    <br>
                    <input type="button" name="edit" value="Edit" ng-click="goToEdit()">
                    <input type="button" name="upload" value="Upload">
                </form>
            </div>
        </div>
    </div>
</div>
-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>&times;</span></button>
    <h4 class="modal-title">Upload</h4>
</div>
<div class="modal-body">
    <form action="Upload" method="post" enctype="multipart/form-data" id="uploadcheck">
        <br> Select a file
        <input type="file" onchange="angular.element(this).scope().setImageFile(this)" />
        <br>
        <input type="file" name="file" accept="image/gif, image/jpeg, image/png, image/jpg" id="filecheck" />
        <br>
        <br>
        <input type="button" name="edit" value="Edit" ng-click="goToEdit()">
        <input type="button" name="upload" value="Upload">
    </form>

    <div class="col-xs-6">
        <canvas id="myCanvas" style="width: 100%;">
            <!-- Insert fallback content here -->
        </canvas>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>