<!--For script-->
<link rel="stylesheet" href="../bower_components/justifiedGallery/dist/css/justifiedGallery.css" />
<script src="../bower_components/justifiedGallery/dist/js/jquery.justifiedGallery.js">
</script>
<script type="text/ng-template" id="myModalContent.html" src="views/lightbox.html">
</script>
<!--For script-->

<div infinite-gallery>
    <div ng-click="open(video)" repeat-done ng-repeat="video in videos">
        <a ng-if="video.type == 'video'">
            <img alt="{{video.title}}" ng-src="{{trsVideoThumbSrc(video.path)}}" />
        </a>
    </div>


</div>