<!--Main-->
<!--<div class="main">-->
<div class="fullscreen-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
    <video loop muted autoplay poster="images/videoframe.jpg" class="fullscreen-bg_video" id="video">
    <source src="images/dive_5.mp4" type="video/mp4">
            </video>

        </div>
    </div>
        </div>
    <!-- Start main contents -->
    <div class="container">
        <!-- Image -->
        <section id="image">
            <div class="row text-center">
                <i class="glyphicon glyphicon-camera glyphiconSty"></i>
                <div class="sub-title">Image</div>
                <div class="col-md-6 col-sm-4">
                    <h3>Got a lot of photos? We've got a lot of space. </h3>
                    <p>
softee app provides photo/audio/video sharing service. It is a fast and incredibly simple solution, which enables common people to share their pictures, audios  and videos, directly from their mobiles or computers. each image you share create displays in a fully responsive layout; meaning, the people, whom you share the file with, will enjoy a great viewing experience using any of their devices.

</p>
                </div>
                <div class="hidden-xs col-md-5 col-md-offset-1 ">
                    <img src="images/mediashare.jpg" alt="ice">
                </div>
            </div>
        </section>
    </div>
    <!-- End of Image -->
    <!-- video -->
    <div class="container-fluid">
        <section id="video">
            <div class="row text-center">
                <i class="glyphicon glyphicon-facetime-video glyphiconSty"></i>
                <div class="sub-title">Video</div>
                <div class="col-md-6 col-sm-4">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KpRHRh9PaRU"></iframe>
                    </div>
                </div>
                <div class="hidden-xs col-md-5 col-md-offset-1">
                    <h3>Simple to share video of unforgettable moments </h3>
                    <p> Through this app you can easily edit video and share it with your friends or family. Basically the idea of this app in this part is to upload as many videos as you want and also give feedback to others by commenting  </p>
<!--
                    <div class="embed-responsive embed-responsive-4by3">
                        
                       
                    </div>
-->
                </div>
            </div>
        </section>
    </div>
    <!-- End of video -->
    <!-- audio -->
    <div class="container">
        <section id="Audio">
            <div class="row text-center">
                <i class="glyphicon glyphicon glyphicon-headphones glyphiconSty"></i>
                <div class="sub-title">Audio</div>
                <div class="col-md-6 col-sm-4">
                    <audio controls="controls" src="audio/CubanSandwich.mp3">
                        Your browser does not support the HTML5 audio element.
                    </audio>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h3>Hear what just happened ! </h3>
                    <p> Softee app is a fun and easy way to share sounds with your friends without any limitation. being able to edit the sound is one of the features of this app. :) 
                    </p>
                </div>
            </div>
        </section>
        <!-- End of audio -->
    </div>
</div>

<!-- End of main contents -->
<div class="container">
         <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
             </div>
    </div>
</div>