<header>
  <!--Nav bar-->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!--Nav bar | Nav bar- left-->

        <a class="navbar-brand" href="#">
          <img class="img-responsive" src="images/logo.png" />
        </a>
      </div>

      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav pull-left">
          <li ng-class="{active: $state.current.name== 'discover'}">
            <a autotoggle ui-sref="discover" data-toggle="collapse" data-target=".nav-collapse">
              <span class="glyphicon glyphicon-globe"></span>
              <span class="title">Discover</span>
            </a>
          </li>
          <li ng-class="{active: $state.current.name== 'photo'}" ng-show="isLoggedIn()">
            <a autotoggle ui-sref="photo" data-toggle="collapse" data-target=".nav-collapse">
              <span class="glyphicon glyphicon-picture"></span>
              <span class="title">Photo</span>
            </a>
          </li>
          <li ng-class="{active: $state.current.name== 'video'}" ng-show="isLoggedIn()">
            <a autotoggle ui-sref="video">
              <span class="glyphicon glyphicon-film"></span>
              <span class="title">Video</span>
            </a>
          </li>

          <li ng-class="{active: $state.current.name== 'sound'}" ng-show="isLoggedIn()">
            <a autotoggle ui-sref="sound">
              <span class="glyphicon glyphicon-headphones"></span>
              <span class="title">Sound</span>
            </a>
          </li>
        </ul>

        <!--Nav bar right-->
          <ul class="nav navbar-nav pull-right">
            <li ng-controller="searchController">
              <a>
                <form class="search-bar">
                  <input type="text" ng-model="keywords" ng-change="search(keywords)" placeholder="Type some keywords">
                </form>
              </a>
            </li>
            <li ng-class="{active: $state.current.name == 'uploadEdit'}">
              <a autotoggle ui-sref="uploadEdit" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                <span class="title">Upload</span>
              </a>
            </li>
            <li ng-class="{active: $state.current.name== 'signup'}" ng-hide="isLoggedIn()">
              <a autotoggle ui-sref="signup" class="dropdown-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="title">Sign up</span>
                <span class="cart"></span>
              </a>

            </li>
            <li class="dropdown" ng-hide="isLoggedIn()" ng-class="{active: $state.current.name== 'login'}">
              <a autotoggle ui-sref="login" class="dropdown-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="glyphicon glyphicon-user"></span>
                <span class="title">Login</span>
                <span class="cart"></span>
              </a>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()" data-toggle="collapse" data-target=".nav-collapse">
              <a ng-click="logout()" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-off"></span>
                <span class="title">Logout</span>
                <span class="cart"></span>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </nav>

</header>


<!-- End of header -->


<div ui-view=""></div>
