<div class="col-md-4 col-sm-4 col-xs-12 login-panel" id="vertiAlign">
    <div class="main-signUp">
        <h1>Sign Up</h1>
        <form class="signUp-form">
            <ul>
                <li>
                    <input class="input-username" name="username" type="text" placeholder="Username" ng-model="uname">
                </li>
                <li>
                    <input class="input-password" name="password" type="password" placeholder="Password" ng-model="pwd">
                </li>
                <li>
                    <input class="input-email" name="email" type="email" placeholder="Email" ng-model="email">
                </li>
                <li>
                    <button class="submit-button btn btn-primary" ng-click="register()">Register</button>
                </li>
            </ul>
        </form>
    </div>
</div>